[submodule "submodules/JUCE"]
	path = submodules/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "submodules/oolib"]
	path = submodules/oolib
	url = https://github.com/cpr2323/oolib.git
